@charset "UTF-8";

* {
	box-sizing: border-box;
}
html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}
a {
	color: black;
	text-decoration: none;
}
.mL5 {
	margin-left: 5px;
}
.mL10 {
	margin-left: 10px;
}
#container {
	display: flex;
	flex-direction:column;
	width: 100%;
	height: 100%;
}
#container > header {
	padding : 10px;
	background-color: #a29bfe;
	height: 70px;
	display: flex;
}
#container > header > #headerLeft {
	flex-grow: 1;
	display:flex;
	align-items: center;
}
#container > header > #headerLeft > #logout > a {
	color: blue;
}
#container > header > #headerRight {
	flex-grow: 1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 50px;
	font-weight: bold;
	font-size: 1.4em;
}
#container > section {
	flex-grow: 1; /* 비율 */
}

#container > footer {
	align-items: center;
	background-color : #636e72;
	color : white;
	display: flex;
	height: 80px;
	justify-content:center;
	padding: 10px;
}
#sectionContainerCenter {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center; /* 정방향 컨트롤 */
	align-items: center; /* 크로스방향 컨트롤 */
}
.frm {
	padding: 15px;
	border: 1px solid #bdc3c7;
}
.msg { color: red; }
.containerPImg {
	display: inline-block;	
	width: 30px;
	height: 30px;
	border-radius: 50%;
	overflow: hidden;
	}
#resultGetlatlng {
	color: red;
	font-weight:bolder;
	font-size: 8px;
}

