@charset "UTF-8";

* {
	box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

#container {
	display: flex;
	flex-direction:column;
	width: 100%;
	height: 100%;
}

#container > header {
	padding : 10px;
	background-color: #a29bfe;
	height: 70px;
}

#container > section {
	flex-grow: 1; /* 비율 */
}

#container > footer {
	align-items: center;
	background-color : #636e72;
	color : white;
	display: flex;
	height: 80px;
	justify-content:center;
	padding: 10px;
}

#sectionContainerCenter {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center; /* 정방향 컨트롤 */
	align-items: center; /* 크로스방향 컨트롤 */
}

.frm {
	padding: 15px;
	border: 1px solid #bdc3c7;
}

.msg { color: red; }

.pImg {
	width: 100px;
	
}











